mat-card{    
    width: 100%;
    padding: 25px;
    min-width: 700px;
}

.container{  
  padding: 80px;
  padding-top: 50px;
 }

app-cliente{    
    width: 100%;
    min-width: 700px;
    min-height: 153px;
}

app-carrinho {    
    width: 100%;
    min-width: 700px;
    min-height: 455px;
}

.total{    
    width: 100%;
    min-width: 700px;
    min-height: 250px;
}


  button{
    margin-top: 20px;
    width: 100%;
    background-color: #5CB85C;
    color: #FFFFFF ;
  }

  .limpar{
    margin-top: 20px;
    width: 100%;
    background-color:white;
    color:black ;
  }

  

  mat-form-field{
   padding-top: 10px;   
    width: 100%
  }

  mat-card-title{
      font-size: 20px;
  }

  table {
    padding: 25px;    
    width: 100%; 
    min-width: 300px;
    max-width: 700px;
  }

  #labelListaProdutos{
    margin-top: 29px;  
    max-width: 700px;
  }