mat-card{    
    width: 100%;
    padding: 25px;
    min-width: 700px;
}

.valores{  
  height: 150px;
}

.container{  
  padding: 80px;
  padding-top: 50px;
 }

app-cliente{    
    width: 100%;
    min-width: 700px;
    min-height: 153px;
}

app-carrinho {    
    width: 100%;
    min-width: 700px;
}

.total{    
    width: 100%;
    min-width: 700px;
    min-height: 250px;
}

  button{
    margin-top: 20px;
    width: 100%;
    background-color: #5CB85C;
    color: #FFFFFF ;
    font-family: Euclid Circular B-Light;
    font-size: 20px;
  }

  mat-label{
    font-family: Euclid Circular B-Light;
    font-size: 20px;
  }

  .limpar{
    margin-top: 20px;
    width: 100%;
    background-color:white;
    color:black ;
  } 

  mat-form-field{
   padding-top: 10px;   
    width: 100%
  }

  mat-card-title{
      font-size: 20px;
  }

  table {
    padding: 25px;    
    width: 100%; 
    min-width: 300px;
    max-width: 700px;
  }

  #separator{
    margin-top: 29px;  
    max-width: 700px;
  }

  .labelPedido{
    font-size: 26px;
    font-family: Euclid Circular B-Bold;
  } 

  .total{
    font-size: 22.75px;
    font-family: Euclid Circular B-Semibold; 
    color: #373A3C;
  } 