mat-toolbar{
       
        background: #FFFFFF;
        border-radius: 4px;
        max-height: 54px;
        width: 100%;
  }

img{
    height: 38px;
    margin-left: 60px;
}

span{
    padding-right: 69px;
}

button{
    font-size: 16px;
    font-family: Euclid Circular B-Regular;
}

